<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
        &nbsp;{{'common.cancel' | translate}}
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'category-search.title' | translate}}
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='openCategoryAdd()' [hidden]='staffService.isStaff()'>
          <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
  <ion-searchbar debounce="700" (ionClear)='clearSearch()' (ionChange)='search()' placeholder="{{'trade-category.search' | translate}}" [(ngModel)]='searchKey'></ion-searchbar>
  <ion-list>
      <ion-item *ngFor="let category of categories" (click)='selectCategory(category)'>
        <ion-label class='ion-text-wrap'>
          <span style='white-space: pre-wrap;'>{{limitText(category.title)}}</span>
          <p>
            {{dateFormat(category.modifiedAt)}}
          </p>
        </ion-label>
      </ion-item>
    <ion-item class='ion-text-wrap' *ngIf="!originalCategories || originalCategories.length===0">
      <div [innerHTML]="'trade-category.no-category' | translate">
      </div>
    </ion-item>
  </ion-list>
</ion-content>